- if flash[:notice]
  :javascript
    doModal('noticeModal', 'Notice', "#{flash[:notice]}")
  - flash[:notice] = nil
- if flash[:error]
  :javascript
    doModal('errorModal', 'Error', "#{flash[:error]}")
  - flash[:error] = nil
