
- if flash[:notice]
  :javascript
    doModal('noticeModal', 'Notice', "<p>#{flash[:notice]}</p>", 'Close', 'warning')
  - flash[:notice] = nil
- if flash[:error]
  :javascript
    doModal('errorModal', 'Error', "<p>#{flash[:error]}</p>", 'Close', 'danger')
  - flash[:error] = nil
