
- if flash[:notice]
  :javascript
    doModal('noticeModal', 'Notice', "#{flash[:notice]}", 'Close', 'warning')
  - flash[:notice] = nil
- if flash[:error]
  :javascript
    doModal('errorModal', 'Error', "#{flash[:error]}", 'Close', 'danger')
  - flash[:error] = nil
