.row.hidden#project
  %p &nbsp;
  .panel.panel-default
    .panel-body
      = simple_form_for @project, method: :put do |f|
        = render partial: 'projects/form', locals: { f: f }
        = f.button :button, class: 'btn-success' do
          = sg 'pencil'
          Update Project
